<body>
    <div class="signup"> 
        <form class="form1">
<%= form_for(@bartender) do |b| %>
    <%= b.label :username %>
    <%= b.text_field :username %>
    <br>
    <%= b.label :about%>
    <%= b.text_field :about %>
    <br>
   
    <%= b.label :email%>
    <%= b.text_field :email %>
    <br>
    
    <br>
    <%= b.label :password %>
    <%= b.text_field :password %>
    <br>
   <%= b.submit class: "btn btn-primary btn-block btn-large"%>
    <%end%>
</div>
</body>
