<%= render partial: 'application/errors', locals: {object: @bartender} %>
<%= stylesheet_link_tag 'signup' %>
<%= render 'navbar' %>


<body>
<div class="signup"> 
     

<%= render partial: 'form'%>

  
    <div class="delete-button"><%= button_to "Delete", @bartender, method: "delete", data: {confirm: "Are you sure???"}  %></div>
</div>
</body>

<br>
