<%= stylesheet_link_tag 'signup' %>


<body>
    <div class="signup"> 
        <form class="form1">
<%= form_for @bartender do |b| %>
<%= render partial: 'form', locals: {b: b} %>
<%= b.submit class: 'button' %>
    <%end%>
    <div class="delete-button"><%= button_to "Delete", @bartender, method: "delete", data: {confirm: "Are you sure???"}  %></div>
</div>
</body>

<br>
