<%= stylesheet_link_tag 'bartender' %>
<aside class="profile-card">
    <header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT61LJDRIwjkRuOjVe5uWEd44qRGOEzVmI20LKHBENs7S-uKCRHz-GXNLgaf4BFicTCU0c&usqp=CAU" class="hoverZoomLink">
        <h1><%=@bartender.username%></h1>
    </header>

    <div class="profile-bio">
        <p>
        <h2><%=@bartender.about%></h2>
      
        </p>
    </div>

<button> <%= link_to "Look-N", recipes_path %></button>
<button> <%= link_to "Make-N", new_recipe_path %></button>
<button> <%= link_to "Logout", '/logout' %></button>
<button> <%= link_to "EDIT",edit_bartender_path(@bartender) %></button>

</aside>
