  <%= stylesheet_link_tag 'home' %>
  <%= flash[:message] %>

<div class="home-wrapper">
<h2> Welcome to </h2>
<h1>Shake-N</h1>
<h3> A Cocktail App </h3>



<div id="login-form">
<h5>Login</h5>
    <%= form_with(model: @bartender, url: "/login") do |b| %>
        <div class="form-control">
            <%= b.label :username, class: "form-label" %>
            <%= b.text_field :username, class: "form-input" %>
        </div>
        <div class="form-control">
            <%= b.label :password, class: "form-label" %>
            <%= b.password_field :password, class: "form-input" %>
        </div>
        <%= b.submit :login%>
    <% end %>
   
    <div class="third-party-login">
        <%= button_to "Login with Google", '/auth/google_oauth2'  %>
        <%= button_to "Login with Github", '/auth/github'  %>
    </div>
</div>

<%= button_to "Sign Up", new_bartender_path, method: :get%>
</div>

<img src="https://thethreetomatoes.com/wp-content/uploads/2017/04/cocktails.png" class="img-fluid" >
</div>
                


                