
<div class="comments"> 
    <h1>Leave a comment</h1>
        <%= form_for(@comment) do |c| %>
        <%= c.label :textbody %>
        <%= c.text_field :textbody %>
        <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
        <input type="submit" value="Comment">
     <%if @comments.size > 0 %> 
        <% @comments.each do |c| %> 
    <h6 class="card-subtitle">Comments by Users</h6>
    <div class="comment-footer"> <span class="date"><%=Time.now.utc%><span class="label label-info"></span> <span class="action-icons"> <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a> <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a> <a href="#" data-abc="true"><i class="fa fa-heart"></i></a> </span> </div>
    <p><%=c.textbody%></p>
    <%end%>
  <%end%>
  <%end%>
</div>