<body>
    <div class="signup">       
<%= form_for(@recipe) do |r| %>
    <%= r.label :name %>
    <%= r.text_field :name %>
    <br>
    <%= r.label :category%>
    <%= r.text_field :category %>
    <br>
    <%= r.fields_for :ingredient_recipes  do |ir| %>
    <%= ir.label :ingredient_id, "Select an Ingredient" %>
    <%= ir.collection_select(:ingredient_id,  Ingredient.all, :id, :ingredient, prompt: "Pick one")%> <%= ir.number_field :value %><%=ir.select(:unit, options_for_select(unit_list), prompt: "Select Dosage")%>
    <br>
    <%end%>
    <br>
    <%= r.label :directions %>
    <%= r.text_field :directions %>
    <br>
<%= r.submit class: "btn btn-primary btn-block btn-large"%>

    <%end%>
</div>
</body>