<%= stylesheet_link_tag 'recipe_index' %>
<%= render 'navbar' %>
<%= form_with(url: recipes_path, method: :get) do |s|%>
<h1><%= s.label :search, "seach by category" %></h1>
<%= s.text_field :search %>
<%= s.submit "search" %>
<%end%>


<% @recipes.each do |r| %>

<div class="card" style="width: 18rem;">
    <img src="https://makemeacocktail.com/images/no_cocktail_blue.png" class="hoverZoomLink">
  <div class="card-body">
    <h5 class="card-title"><%=link_to r.name, r %></h5>
    <p class="card-text"><%= r.category %></p>
  </div>
</div>
<%end%>