
<%= stylesheet_link_tag 'recipe_show' %>
<aside class="profile-card">

    <header>
        <img src="https://makemeacocktail.com/images/no_cocktail_blue.png" class="hoverZoomLink">
        <h1><%=@recipe.name%></h1>
        <h2><%=@recipe.category%></h2>
    </header>

    <div class="profile-bio">
        <p>
            <%=@recipe.directions%>
        </p>
    </div>
    <button> <%= link_to "Edit Cocktail", edit_recipe_path(@recipe) %></button>

<button> <%= link_to "Look-N", recipes_path %></button>
<button> <%= link_to "Make-N", new_recipe_path %></button>
<button> <%= link_to "Logout", '/logout' %></button>
<button><%= link_to "My Page", @bartender %> </button>

</aside>

<%# <%= render 'comments' %> 
